# Requirements frozen by 'pip freeze' on 2019-07-05 17:15:55
alabaster==0.7.12
argh==0.26.2
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
bleach==3.1.0
blessings==1.7
bpython==0.18
certifi==2019.6.16
chardet==3.0.4
coverage==4.5.3
coveralls==1.8.1
curtsies==0.3.0
docopt==0.6.2
docutils==0.14
filelock==3.0.12
greenlet==0.4.15
idna==2.8
imagesize==1.1.0
importlib-metadata==0.18
invoke==1.2.0
isort==4.3.21
Jinja2==2.10.1
lazy-object-proxy==1.4.1
livereload==2.6.1
MarkupSafe==1.1.1
mccabe==0.6.1
mock==3.0.5
more-itertools==7.1.0
munch==2.3.2
packaging==19.0
pathlib2==2.3.4
pathtools==0.1.2
pkg-resources==0.0.0
pkginfo==1.5.0.1
pluggy==0.12.0
port-for==0.3.1
py==1.8.0
Pygments==2.4.2
pylint==2.3.1
pypandoc==1.4
pyparsing==2.4.0
pytest==5.0.1
pytest-cov==2.7.1
pytest-spec==1.1.0
pytz==2019.1
PyYAML==5.1.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
-e git+git@github.com:jhermann/rituals.git@208fa61db14dd958a9b53740c989480656fa206f#egg=rituals
six==1.12.0
snowballstemmer==1.9.0
Sphinx==2.1.2
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.1.9
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
toml==0.10.0
tornado==6.0.3
tox==3.13.2
tqdm==4.32.2
twine==1.13.0
typed-ast==1.4.0
typing==3.7.4
urllib3==1.25.3
virtualenv==16.6.1
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.11.2
yolk3k==0.9
zipp==0.5.1
