#
# Task requirements
#

# devpi / docs
#requests==2.9.1 # already in requirements!

# check
pylint==1.6.5

# test
pytest==4.1.0
pytest-spec==1.1.0
pytest-cov==2.6.1
py>=1.4.29
coveralls==1.5.1

# docs
sphinx==1.8.3
sphinx-autobuild==0.7.1
