#
# Task requirements
#

# devpi / docs
#requests==2.9.1 # already in requirements!

# check
pylint==1.6.5

# test
pytest==3.7.4
pytest-spec==1.1.0
pytest-cov==2.5.1
py>=1.4.29
coveralls==1.4.0

# docs
sphinx==1.7.8
sphinx-autobuild==0.7.1
